/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .country {
    fill: #4F6D7A;
    stroke: white;
    stroke-width: 0.5;
    transition: fill 0.3s ease;
  }

  .country:hover {
    fill: #F49D6E;
    cursor: pointer;
  }
}